/*
body.game {
    background-color: #eceeef;
    padding-top: 2rem;
}
*/
p.game { 
    text-indent: 1rem;
    margin-bottom: 0.2rem;
}

a.game.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

.gamebyopacity-enter {
  opacity: 0.01;
}

.gamebyopacity-enter.gamebyopacity-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.gamebyopacity-leave {
  opacity: 1;
}

.gamebyopacity-leave.gamebyopacity-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.game-fix {
  font-family: monospace;
  white-space: pre;
  font-size: 1.2em;
}

.game-img {
  width: 100%;
}