body {
    background-color: #eceeef;
    /* padding-top: 2rem; */
    overflow-y: scroll;
}


@keyframes threedots-blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.threedots span {  
    animation-name: threedots-blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.threedots span:nth-child(2) {
    animation-delay: .2s;
}
.threedots span:nth-child(3) {
      animation-delay: .4s;
}
  