p.game { 
    text-indent: 1rem;
    margin-bottom: 0.2rem;
}

a.game.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}
