.game-text {
  white-space: pre-wrap;
}
.game-fix {
  font-family: monospace;
  white-space: pre;
  font-size: 1.2em;
}

.game-root {
  color: #9eacac;
}
.game-root a {
  color: #9eacac;
  pointer-events: none;
}

.game-root .game-inactive {
  /* color: #747e80; */
  color: #60696b;
}
.game-root .game-clr {
  color: #ffd863;
}
