.gameplay-button {
  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  height: 40px;
  border-radius: 10px 0px 10px 0;
  overflow: hidden;
  border: 1px solid #ababab;
  background: none;
  position: relative;
}

.gameplay-button-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1e5a64;
  opacity: 0.5;
}
.gameplay-button:hover .gameplay-button-background {
  opacity: 0.8;
}
.gameplay-button:disabled .gameplay-button-background {
  opacity: 0.5; /* Keep previous opacity */
}

.gameplay-button:hover .gameplay-button-content {
  color: #dadada;
}

.gameplay-button-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay-button:disabled .gameplay-button-content {
  color: #777777;
}
